<section class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">myEvent</h1>
            <h2 class="masthead-subheading mb-0">Where Moments Matter</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5 learn-more">Learn More</a>            
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</section>





<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="images/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Festivals</h2>
                    <p>Exhilarating journey into vibrant cultures, pulsating rhythms, and diverse traditions.  From grand-scale music festivals featuring chart-topping artists to intimate cultural gatherings showcasing local artisans and cuisines.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="images/04.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Fundraising & charity</h2>
                    <p>Where every gesture counts and every contribution makes a difference. Experience the power of collective generosity as we unite for a common cause.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="images/05.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Environmental</h2>
                    <p>Dive into a world of sustainability, conservation, and eco-conscious living as we come together to protect and preserve our precious natural resources. From tree planting initiatives and beach clean-ups to educational workshops on renewable energy and wildlife conservation, our environmental events offer opportunities for individuals and communities to take meaningful action towards a greener future. </p>
                </div>
            </div>
        </div>
    </div>
</section>